*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #80eaf6;
    --secondary-color: #7713f0;
    --hero-section-color: #ff3e0e;
    --button-color: #9d56f4;
    --light-blue-color: #4a82be;
    --light-pink-color:#c7919a;
    --medium-gray-color: #ccc;

    /*font-size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.25rem;

    /*font-weight*/
     --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;

    /*border-radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*site max width*/
    --site-max-width: 1300px;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    background: var(--black-color);
    width: 100%;
    z-index: 5;
}

.navbar{
max-width: var(--site-max-width);
margin: 0 auto;
padding: 0 20px;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semi-bold);
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.navbar .nav-menu{
    display: flex;
    gap: 15px;
}

img{
    width: 100%;
}


/* RIBBON SECTION CONTAINER */
.ribbon-section {
    max-width: 900px;
    margin: 80px auto 40px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* RIBBON HEADING */
.ribbon {
    position: relative;
    background: #050505;
    color: white;
    padding: 12px 25px;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* TEXT INSIDE SECTIONS */
.ribbon-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}